<!doctype html>
<html>
  <head>
    <title>Grant Hall</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="robots" content="index, follow">
    <meta name="description" content="Grant Hall's website, including videos, code projects, and more">
    <meta name="author" content="Grant Hall">
    <meta name="keywords" content="Grant Hall, portfolio, projects, code, videos, web development, programming, creative works">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Grant Hall - Portfolio">
    <meta property="og:description" content="Explore the portfolio of Grant Hall, featuring code projects and videos showcasing creativity and technical skills.">
    <meta property="og:image" content="https://yourwebsite.com/images/og-image.jpg">
    <meta property="og:url" content="https://yourwebsite.com">
    <meta property="og:type" content="website">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Portfolio" %></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <%= stylesheet_link_tag "site" %>
    <%# <%= javascript_include_tag "site" %>
    <link rel="icon" href="../images/favicon.ico">
    <script src="https://kit.fontawesome.com/25f48368ad.js" crossorigin="anonymous"></script>

    <!-- Masonry Layout -->
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>

    <!-- Make sure you have this Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Cloudinary Upload Widget -->
    <script src="https://upload-widget.cloudinary.com/global/all.js"></script>

    <!-- PhotoSwipe -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/photoswipe@5.3.8/dist/photoswipe.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/css/justifiedGallery.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/justifiedGallery@3.8.1/dist/js/jquery.justifiedGallery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/photoswipe@5.3.8/dist/umd/photoswipe.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/photoswipe@5.3.8/dist/umd/photoswipe-lightbox.umd.min.js"></script>

    <!-- Add this in the head section -->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

  </head>
  <body>
    <%= partial 'partials/navbar' %>
    <%= yield %>
    <script src="javascripts/site.js" defer></script>
  </body>
</html>
