<div class="container video-grid">
  <% videos = fetch_aws_videos %>
  <% if videos['data'].any? %>
    <% sorted_videos = videos['data'].sort_by { |video| Date.parse(video['created_at'].to_s) }.reverse %>
    <div class="row g-4">
      <% sorted_videos.each do |video| %>
        <div class="col-lg-4 col-md-6">
          <div class="video-card" data-bs-toggle="modal" data-bs-target="#modal-<%= video['id'] %>">
            <div class="thumbnail-wrapper" style="position: relative; padding-top: 56.25%;">
              <img
                src="<%= video['thumbnail_url'].presence || 'images/reel_placeholder.png' %>"
                loading="lazy"
                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;"
              >
            </div>
            <div class="video-info">
              <div class="d-flex justify-content-between align-items-center">
                <h3><%= video['name'] %></h3>
              </div>
            </div>
          </div>

          <!-- Video Modal -->
          <div class="modal fade" id="modal-<%= video['id'] %>" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><%= video['name'] %></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                  <div class="video-wrapper">
                    <video
                      id="video-<%= video['id'] %>"
                      class="video-js vjs-theme-forest"
                      controls
                      preload="auto"
                      poster="<%= video['thumbnail_url'] %>"
                      data-setup='{"fluid": true}'>
                      <source
                        src="<%= video['url'].gsub('video.mp4', 'hls/stream/video.m3u8') %>"
                        type="application/x-mpegURL">
                      <source
                        src="<%= video['url'] %>"
                        type="video/mp4">
                    </video>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">No videos found</p>
  <% end %>
</div>
