<nav id="main-menu">
  <ul class="nav-bar">
    <li class="nav-button-home"><%= link_to 'videos', 'videos' %></li>
    <li class="nav-button-services"><%= link_to 'photos', 'photos' %></li>
    <li class="nav-button-products"><%= link_to 'websites', 'websites' %></li>
  </ul>
</nav>
<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <div class="d-flex mt-5">
      <%= image_tag 'demo-day-portrait-crop.jpg', alt: "profile photo", class: 'avatar' %>
    </div>
    <%= image_tag 'granthall-written.png', alt: "profile photo", class: 'written-shaped' %>
    <div class="d-flex pb-4">
      <h3><a href="https://www.youtube.com/@mediatemedia" class="text-light"><i class="fa-brands fa-youtube icon-medium"></i></a></h3>
      <h3><a href="https://www.instagram.com/_granthall_/" class="text-light"><i class="fa-brands fa-square-instagram icon-medium"></i></a></h3>
      <h3><a href="https://github.com/grantcko" class="text-light"><i class="fa-brands fa-github icon-medium"></i></a></h3>
      <h3><a href="https://www.linkedin.com/in/grant-hall-/" class="text-light"><i class="fa-brands fa-linkedin icon-medium"></i></a></h3>
    </div>
    <i type="button" onClick="document.getElementById('middle').scrollIntoView();" class="mt-5 pt-5 text-light fa-solid fa-caret-down down-btn"></i>
  </div>
</div>
