<div class="video-container">
  <% videos = fetch_aws_videos %>
  <% if videos['data'].any? %>
    <div class="row g-4">
      <% videos['data'].each do |video| %>
        <div class="col-lg-4 col-md-6">
          <div class="video-card">
            <div class="video-wrapper">
              <video
                id="video-<%= video['id'] %>"
                class="video-js vjs-theme-forest"
                controls
                preload="auto"
                width="100%"
                data-setup='{
                  "fluid": true,
                  "playbackRates": [0.5, 1, 1.5, 2],
                  "controlBar": {
                    "volumePanel": {"inline": false},
                    "pictureInPictureToggle": false
                  }
                }'>
                <source src="<%= video['url'] %>" type="video/<%= video['type'] %>">
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a
                  web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
              </video>
            </div>
            <div class="video-info">
              <h3><%= video['name'] %></h3>
              <p class="meta">
                <span class="size"><%= video['size'] %></span>
                <span class="date"><%= video['created_at'].strftime('%B %d, %Y') %></span>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">No videos found</p>
  <% end %>
</div>
