<!-- Gallery -->
<div class="container page-content">
  <div id="gallery">
    <% fetch_cloudinary_photos.each do |photo| %>
      <%# Optimize with lower thumbnail size %>
      <% thumbnail_url = photo['secure_url'].sub('/upload/', '/upload/h_600,q_auto,f_auto/') %>
      <% fullsize_url = photo['secure_url'].sub('/upload/', '/upload/q_auto,f_auto/') %>

      <a href="<%= fullsize_url %>"
         data-pswp-width="<%= photo['width'] %>"
         data-pswp-height="<%= photo['height'] %>"
         class="gallery-item">
        <img src="<%= thumbnail_url %>"
             alt="<%= photo['public_id'].split('/').last %>"
             loading="lazy"
             decoding="async">
      </a>
    <% end %>
  </div>
</div>
