<div class="container vidgrid-padding">
  <!-- Individual Videos with Modal -->
  <div class="row">
    <% videos = fetch_vimeo_videos %>
    <% if videos['data'].any? %>
      <% videos['data'].each do |video| %>
        <div class="col-lg-4 col-md-6 mb-2">
          <button class="video-card-button w-100"
                  data-bs-toggle="modal"
                  data-bs-target="#videoModal"
                  data-video-id="<%= video['uri'].split('/')[-1] %>"
                  data-video-title="<%= video['name'] %>"
                  data-video-description="<%= video['description'] %>">
            <div class="video-thumbnail" style='padding:56.25% 0 0 0;position:relative;'>
              <img src="<%= video['pictures']['sizes'].last['link'] %>"
                   alt="<%= video['name'] %>"
                   style='position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;'>
            </div>
            <h3 class="mt-2 h5"><%= video['name'] %></h3>
          </button>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Original Showcases -->
  <div class="row pt-5">
    <div class="video-wrapper">
      <div style='padding:56.25% 0 0 0;position:relative;'>
        <iframe loading="lazy"
          src='https://vimeo.com/showcase/11427774/embed'
          allowfullscreen
          frameborder='0'
          style='position:absolute;top:0;left:0;width:100%;height:100%;'></iframe>
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="video-wrapper">
      <div style='padding:56.25% 0 0 0;position:relative;'>
        <iframe loading="lazy"
          src='https://vimeo.com/showcase/11427782/embed'
          allowfullscreen
          frameborder='0'
          style='position:absolute;top:0;left:0;width:100%;height:100%;'></iframe>
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="video-wrapper">
      <div style='padding:56.25% 0 0 0;position:relative;'>
        <iframe loading="lazy"
          src='https://vimeo.com/showcase/11428412/embed'
          allowfullscreen
          frameborder='0'
          style='position:absolute;top:0;left:0;width:100%;height:100%;'></iframe>
      </div>
    </div>
  </div>

  <!-- Simple Modal -->
  <div class="modal fade" id="videoModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-1">
          <h5 class="modal-title small"></h5>
          <button type="button" class="btn-close btn-close-sm" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body p-0">
          <div style="padding:56.25% 0 0 0;position:relative;">
            <iframe src=""
                    style="position:absolute;top:0;left:0;width:100%;height:100%;"
                    frameborder="0"
                    allow="autoplay; fullscreen"
                    allowfullscreen
                    data-src="https://player.vimeo.com/video/ID?dnt=1&autopause=0&playsinline=1&transparent=1&controls=1&title=0&byline=0&portrait=0&pip=0&speed=0&quality=0&collections=0&info=0">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5 pb-5">
    <a href="https://vimeo.com/granth" class="" rel="noopener" target="_blank">more videos on vimeo.com</a>
  </div>
</div>
