<div class="container vidgrid-padding">
  <!-- Album Selection Buttons -->
  <div class="album-buttons mb-3">
    <button class="btn btn-primary album-button" data-album-id="<%= ENV['ALBUM_ID'] %>">FEATURED</button>
    <button class="btn btn-primary album-button" data-album-id="<%= ENV['EVERYTHING_ALBUM_ID'] %>">EVERYTHING</button>
    <button class="btn btn-primary album-button" data-album-id="<%= ENV['MISC_ALBUM_ID'] %>">MISC</button>
    <button class="btn btn-primary album-button" data-album-id="<%= ENV['MISC_ALBUM_ID'] %>">MISC</button>
  </div>

  <!-- Individual Videos with Modal -->
  <div class="row">
    <% videos = fetch_vimeo_videos(ENV['ALBUM_ID']) %>
    <% if videos['data'].any? %>
      <% videos['data'].each do |video| %>
        <div class="col-lg-4 col-md-6 mb-2">
          <button class="video-card-button w-100"
                  data-bs-toggle="modal"
                  data-bs-target="#videoModal"
                  data-video-id="<%= video['uri'].split('/')[-1] %>"
                  data-video-title="<%= video['name'] %>"
                  data-video-url="<%= video['link'] %>"
                  data-album-id="<%= ENV['ALBUM_ID'] %>">
            <div class="video-thumbnail" style='padding:56.25% 0 0 0;position:relative;'>
              <img src="<%= video['pictures']['sizes'].last['link'] %>"
                   alt="<%= video['name'] %>"
                   style='position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;'>
            </div>
            <h3 class="mt-2 h5"><%= video['name'] %></h3>
          </button>
        </div>
      <% end %>
    <% end %>
  </div>

  <!-- Simple Modal -->
  <div class="modal fade" id="videoModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-1">
          <h5 class="modal-title small">友達 (Tomodachi) | Documentary</h5>
          <button type="button" class="btn-close btn-close-sm" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body p-0">
          <div style="padding:56.25% 0 0 0;position:relative;">
            <iframe src="https://player.vimeo.com/video/?autoplay=1&amp;title=1&amp;byline=0&amp;portrait=0&amp;controls=1&amp;share=1&amp;pip=0&amp;speed=0&amp;quality=0&amp;collections=0&amp;info=0"
                    style="position:absolute;top:0;left:0;width:100%;height:100%;"
                    frameborder="0"
                    allow="autoplay; fullscreen"
                    allowfullscreen=""
                    data-src="https://player.vimeo.com/video/ID?dnt=1&amp;autopause=0&amp;playsinline=1&amp;transparent=1&amp;controls=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;pip=0&amp;speed=0&amp;quality=0&amp;collections=0&amp;info=0">
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-5 pb-5">
    <a href="https://vimeo.com/granth" class="" rel="noopener" target="_blank">more videos on vimeo.com</a>
  </div>
</div>
